{% extends "layout.html.twig" %}

{% block content %}
	<h2>{{ 'newcharacter.title'|trans }}</h2>
	<img id="charimg" src="{{ asset('images/char_m.png') }}" />
	<p>{{ 'newcharacter.intro'|trans({"%firstoneurl%":path('maf_fiction', {'page':'creation'})})|raw }}</p>
	<p>{{ 'newcharacter.accountlimit'|trans({"%active%":characters_active, "%limit%":characters_allowed}) }}</p>

	{% if limit <= 0 %}
		<div class="warning">{{ 'newcharacter.limited'|trans }}</div>
	{% elseif limit < 6 %}
		<p>{{ 'newcharacter.limit'|trans({"count":limit, "%limit%":limit}) }}</p>
	{% endif %}
	{% if spawnlimit %}
		<div class="error">{{ 'newcharacter.spawnlimit'|trans|raw }}</div>
	{% else %}
		{{ form(form) }}
	{% endif %}
	{% if spawnlimit %}
		<div class="error">{{ 'newcharacter.spawnlimit'|trans|raw }}</div>
	{% endif %}
{% endblock %}

{% block jquery %}
{# FIXME: on mobile/touch devices this makes 2 clicks necessary :-( #}
var tooltips = $("[title]").tooltip({
	position: {
		my: "left+20 center",
		at: "right center",
		collision: "fit"
	}
});


var chars = {{ characters|json_encode|raw }};

$('#character_creation_father option,#character_creation_mother option').each(function(){
	var id = $(this).val();
	if (id > 0) {
		var char = findChar(id);
		if (!char) $(this).attr('disabled','disabled');
	}
});

updatePartners();

$('#character_creation_gender').change(function(){
	updatePartners();
	updateImage();
});
$('#character_creation_father').change(function(){updateOptions('father','mother')});
$('#character_creation_mother').change(function(){updateOptions('mother','father')});
$('#character_creation_dead').change(function(){updateImage()});


function findChar(id) {
	id = parseInt(id);
	for (i in chars) {
		if (chars[i].id == id) {
			return chars[i];
		}
	};
	return false;
}

function updateOptions(me, target) {
	var id = $("#character_creation_"+me+" option:selected").val();
	if (id > 0) {
		var char = findChar(id);
		var selected = $("#character_creation_"+target+" option:selected").val();
		var updateselection = false;
		$("#character_creation_"+target+" option").each(function(){
			var pid = $(this).val();
			if (pid) {
				var found=false;
				for (i in char.partners) {
					if (pid == char.partners[i].id) {
						found=true;
						break;
					}
				}
				if (found) {
					$(this).removeAttr('disabled');
				} else {
					$(this).attr('disabled','disabled');
					if (pid==selected) {
						$(this).removeAttr('selected');
						updateselection = true;
					}
				}
			} else {
				if (char.mine) {
					$(this).removeAttr('disabled');
				} else {
					$(this).attr('disabled','disabled');
					if (pid==selected) {
						$(this).removeAttr('selected');
						updateselection = true;
					}
				}
			}
		});
		if (updateselection) {
			$("#character_creation_"+target+" option:not([disabled])").first().attr("selected", "selected");
		}
	} else {
		$("#character_creation_"+target+" option").removeAttr('disabled');
	}
}

function updatePartners() {
	var gender = $("#character_creation_gender option:selected").val();
	var selected = $("#character_creation_partner option:selected").val();
	$("#character_creation_partner option").each(function(){
		var id = $(this).val();
		if (id > 0) {
			var char = findChar(id);
			if (char.gender != gender) {
				$(this).removeAttr('disabled');
			} else {
				$(this).attr('disabled','disabled');
				if (id==selected) {
					$(this).removeAttr('selected');
					$("#character_creation_partner option:not([disabled])").first().attr("selected", "selected");
				}
			}
		}
	});
}

function updateImage() {
	var gender = $("#character_creation_gender option:selected").val();
	var dead = $("#character_creation_dead").prop('checked');

	if (gender == "m") {
		if (dead) {
			$("#charimg").attr("src", "{{ asset('images/char_dead_m.png') }}");
		} else {
			$("#charimg").attr("src", "{{ asset('images/char_m.png') }}");
		}
	} else {
		if (dead) {
			$("#charimg").attr("src", "{{ asset('images/char_dead_f.png') }}");
		} else {
			$("#charimg").attr("src", "{{ asset('images/char_f.png') }}");
		}

	}
}

{% endblock %}
