{% extends 'layout.html.twig' %}

{% trans_default_domain 'core' %}

{% block title %}{%trans with {'%name%': site_short} %}security.login.title{% endtrans %}{% endblock %}

{% block content %}
<div class="content">
<form action="{{ path('maf_login') }}" method="post">
        {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1>{% trans %}security.login.header{% endtrans %}</h1>
        <label for="username">Username: </label>
        <input type="text" value="{{ last }}" name="_username" id="username" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password: </label>
        <input type="password" name="_password" id="password" placeholder="Password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="checkbox mb-3">
        <label>
                <input type="checkbox" name="_remember_me" checked/> Keep me logged in
        </label>
        </div>

        <button class="submit" type="submit">
        Sign in
        </button><br /><br />

        Forgot your password? <a href="{{ url("maf_account_reset") }}">Request a reset!</a>
</form>
</div>
{% endblock %}
