{% extends "layout.html.twig" %}

{% trans_default_domain 'core' %}

{% block title %}{%trans with {'%name%': site_short} %}security.register.title{% endtrans %}{% endblock %}

{% block captcha %}
{% include 'element/captcha_header.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{% trans %}security.register.header{% endtrans %}</h1>

    <div class="index_register">
        <h2>{{ 'security.register.header'|trans({}, 'core') }}</h2>
        {{ form_start(form) }}
        {{ form_row(form._username) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.display_name) }}
        {{ form_row(form.email) }}<br>
        <center>{% include 'element/form_captcha.html.twig' %}</center>
        <a href="{{ url("maf_terms") }}">{{ 'form.register.toslink'|trans({}, 'core') }}</a>
        {{ form_row(form.agreeTerms) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
