<ul class="buttonlist">
    <li><a href="{{ path("maf_heraldry") }}">{{ 'account.heraldry.link'|trans|title }}</a></li>
    <li><a href="{{ path("maf_artifact_owned") }}">{{ 'account.artifacts.link'|trans|title }}</a></li>
    <li><a href="{{ path("maf_payment_culture") }}">{{ 'account.culture.link'|trans|title }}</a></li>
    <li><a href="{{ path("maf_payment_realmPack") }}">{{ 'account.realmpack.link'|trans|title }}</a></li>
</ul>