<ul>
	<li><a href="{{ path('maf_map') }}">{{ 'menu.map'|trans }}</a></li>
	<li><a href="{{ path('maf_char_background') }}">{{ 'menu.character.background'|trans }}</a></li>
	{% if character.alive and date(character.retiredOn) < date('-7days') %}
	<li><a href="{{ path('maf_char_start') }}">{{ 'menu.character.start'|trans }}</a></li>
	{% endif %}
</ul>
