<div class="queue">
	{{ toc|markdown_to_html|manuallinks }}
	<h2>{{ 'manual.reference'|trans }}</h2>
	<ul>
		<li><a href="{{ path('maf_manual', {'page':'measurements'}) }}">{{ 'manual.measurements'|trans }}</a></li>
		{#<li><a href="{{ path('maf_info_allbuildingtypes') }}">{{ 'building'|trans }}</a></li>
		<li><a href="{{ path('maf_info_allfeaturetypes') }}">{{ 'feature'|trans }}</a></li>
		<li><a href="{{ path('maf_info_allentouragetypes') }}">{{ 'npc.entourage'|trans }}</a></li>
		<li><a href="{{ path('maf_info_allequipmenttypes') }}">{{ 'equipment'|trans }}</a></li>#}
	</ul>
</div>
