<div class="queue">
	{{ toc|markdown_to_html|manuallinks }}
	<h2>{{ 'manual.reference'|trans }}</h2>
	<ul>
		<li><a href="{{ path('maf_manual', {'page':'measurements'}) }}">{{ 'manual.measurements'|trans }}</a></li>
		<li><a href="{{ path('maf_info_buildingtype') }}">{{ 'building'|trans }}</a></li>
		<li><a href="{{ path('maf_info_features') }}">{{ 'feature'|trans }}</a></li>
		<li><a href="{{ path('maf_info_entourage') }}">{{ 'npc.entourage'|trans }}</a></li>
		<li><a href="{{ path('maf_info_equipments') }}">{{ 'equipment'|trans }}</a></li>
	</ul>
</div>
