{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ 'settlement.chat.title'|trans|title }}</h2>
<p>{{ 'settlement.chat.intro'|trans }}</p>
<hr />
{{ form(chat) }}
<hr />
<dl class="messages">
	{% for msg in messages %}
	<dt>{{ link(msg.sender) }} <small>({{ msg.ts|date }})</small></dt>
	<dd>{{ msg.content }}</dd>
	{% endfor %}
</dl>

{% endblock %}
