{% extends "layout.html.twig" %}

{% block content %}
	<h2>{{ 'account.artifacts.title'|trans|title }}</h2>
	<p>{{ 'account.artifacts.intro'|trans|raw }}</p>
	<p>{{ 'account.artifacts.current'|trans({"slots":slots, "used":used})|raw }}</p>
	<p>{{ 'account.artifacts.buymore'|trans({"cost":cost})|raw }}</p>
	{{ form(form) }}
{% endblock %}
